ALPACA_API_KEY=
ALPACA_API_SECRET=
GRPC_PORT=50051
FIN_FEEDSAT_ID=Fin_FeedSat_1
FIN_FEEDSAT_ROLE=FeedSat
FIN_FEEDSAT_SUBSCRIBER_TYPE=PRODUCER
FIN_FEEDSAT_DOMAIN_PLANE=Finance
FIN_FEEDSAT_SOURCE=alpaca
FIN_FEEDSAT_FEED=iex
FIN_FEEDSAT_SYMBOLS=AAPL
FIN_FEEDSAT_MODEL=off
FIN_FEEDSAT_PRICING=off
FIN_FEEDSAT_CSV_PATH=AAPL_1min_firstratedata.csv
